{% load static %}
<script src="https://unpkg.com/vue@3"></script>
<script src="https://cdn.tailwindcss.com"></script>
<link rel="stylesheet" href="{% static 'css/manage.css' %}" />

<div id="app" class="relative flex flex-row">
  <div class="mainContent flex flex-row flex-auto">
    <div class="toLayer basis-1/2 flex flex-col">
      <h3>To list</h3>
      <iframe src="{% url 'toLayer' %}?listTo=listTo&listDo=listDo"> </iframe>
    </div>
    <div class="doLayer basis-1/2 flex flex-col">
      <h3>Do list</h3>
      {% for indexDo in listDo %}
      <div class="doBox">title : {{ indexDo }}</div>
      {% endfor %}
    </div>
  </div>
  <div class="sideContent flex flex-col w-40">
    <span id="title">To-do</span>
    <div class="accountInfo">
      <h2>session : {{ sessionNum }}</h2>
      <div id="accountNum">num : {{ sessionNum }}</div>
      <div id="accountName">name : {{ sessionName }}</div>
    </div>
    <div class="settingAccount">
      <button>설정</button>
    </div>
    <div class="logoutButton">
      <a
        href="{% url 'logout' %}"
        class="focus:outline-none text-white bg-red-700 hover:bg-red-800 focus:ring-4 focus:ring-red-300 font-medium rounded-lg text-sm px-5 py-2.5 mr-2 mb-2 dark:bg-red-600 dark:hover:bg-red-700 dark:focus:ring-red-900"
        >로그아웃</a
      >
    </div>
  </div>
</div>

<script>
  const loginMessage = "{{ loginMessage|escapejs }}";
  if (loginMessage == "sendLogin") {
    alert("로그인 후 이용해주세요 !!");
    window.location.href = "{% url 'login' %}";
  }
  const sessionData = {
    num: "{{ sessionNum | escapejs }}",
    name: "{{ sessionName | escapejs }}",
    listTo: "{{ listTo | escapejs }}",
    listDo: "{{ listDo | escapejs }}",
  };
  const toListDict = sessionData.listTo;
  const parseListTo = JSON.parse(toListDict);

  const doListDict = sessionData.listDo;
  const parseListdo = JSON.parse(doListDict);
  new Vue({
    el: "#app",
    delimiters: ["[[", "]]"],
    data: {
      num: sessionData.sessionNum,
      name: sessionData.sessionName,
    },
  });
</script>

<style>
  #app {
    font-style: normal;
  }
</style>
