{% load static %}
<script src="https://unpkg.com/vue@3"></script>
<script src="https://cdn.tailwindcss.com"></script>
<link rel="stylesheet" href="{% static 'css/manage.css' %}" />

<div id="app">
  <div class="relative overflow-x-auto shadow-md sm:rounded-lg">
    <table class="w-full text-sm text-left text-gray-500 dark:text-gray-400">
      <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
        <tr>
          <th scope="col" class="px-6 py-3">check</th>
          <th scope="col" class="px-6 py-3">내용</th>
          <th scope="col" class="px-6 py-3">할 일</th>
          <th scope="col" class="px-6 py-3">수정</th>
        </tr>
      </thead>
      <tbody>
        {% if listTo %} {% for Tolist in listTo %}
        <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
          <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">{{ Tolist.listNum }}</th>
          <td class="px-6 py-4">{{ ToList.listTitle }}</td>
          <td class="px-6 py-4">{{ ToList.listContent }}</td>
          <td class="px-6 py-4">
            <a href="#" class="font-medium text-blue-600 dark:text-blue-500 hover:underline">Edit</a>
          </td>
        </tr>
        {% endfor %} {% else %}
        <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
          <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">Empty</th>
          <td class="px-6 py-4">Empty</td>
          <td class="px-6 py-4">Empty</td>
          <td class="px-6 py-4">
            <a href="#" class="font-medium text-blue-600 dark:text-blue-500 hover:underline">Edit</a>
          </td>
        </tr>
        {% endif %}
      </tbody>
    </table>
  </div>
</div>
<script>
  const parselist = {
    listTo: "{{ listTo | escapejs }}",
    listDo: "{{ listDo | escapejs }}",
  };
  new Vue({
    el: "#app",
    delimiters: ["[[", "]]"],
    data: {
      listTo: parselist.listTo,
    },
  });
</script>
