<!DOCTYPE html>
<html lang="en">
  <head>
    {% load static %}
    <meta charset="UTF-8" />
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
    <meta http-equiv="Pragma" content="no-cache" />
    <meta http-equiv="Expires" content="0" />
    <title>userUpdate</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/3.2.29/vue.min.js"></script>
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="{% static 'css/manage.css' %}" />
  </head>
  <body>
    <div id="app" class="relative">
      <center>
        <h1 class="mb-4 text-4xl font-extrabold text-gray-900 dark:text-white md:text-5xl lg:text-6xl">
          <button
            disabled="disabled"
            class="relative inline-flex items-center justify-center p-1 mb-2 mr-2 overflow-hidden text-4xl font-medium text-gray-900 rounded-lg group bg-gradient-to-br from-cyan-500 to-blue-500 group-hover:from-cyan-500 group-hover:to-blue-500 hover:text-white dark:text-white focus:ring-4 focus:outline-none focus:ring-cyan-200 dark:focus:ring-cyan-800"
          >
            <div
              id="title"
              class="relative px-5 py-2.5 transition-all ease-in duration-75 bg-white dark:bg-gray-900 rounded-md group-hover:bg-opacity-0"
            >
              To-do
            </div>
          </button>
          <p id="slo" class="tracking-tighter text-gray-500 md:text-lg dark:text-gray-400">
            계획적 이고,<br />
            성실하게<br />일정을 관리 해 보세요.
          </p>
        </h1>
      </center>
      <div class="loginContent w-full max-w-xs" style="margin: auto">
        <form action="{% url 'pw_update' %}" method="post" class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4" onsubmit="return checkForm()">
          {% csrf_token %}
          <div class="mb-6">
            <label class="block text-gray-700 text-sm font-bold mb-2" for="updatePw"> 현재 비밀번호 </label>
            <input
              class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 mb-3 leading-tight focus:outline-none focus:shadow-outline"
              id="updatePw"
              name="updatePw"
              type="password"
              value="{{ prePw }}"
              placeholder="password"
            />
          </div>
          <div class="mb-6">
            <label class="block text-gray-700 text-sm font-bold mb-2" for="updatePwU"> 비밀번호 변경 </label>
            <input
              class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 mb-3 leading-tight focus:outline-none focus:shadow-outline"
              id="updatePwU"
              name="updatePwU"
              type="password"
              value="{{ prePw }}"
              placeholder="password edit"
            />
          </div>
          <div class="mb-6">
            <label class="block text-gray-700 text-sm font-bold mb-2" for="password"> 비밀번호 재입력 </label>
            <input
              class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 mb-3 leading-tight focus:outline-none focus:shadow-outline"
              id="updatePwC"
              name="updatePwC"
              type="password"
              value="{{ prePwC }}"
              placeholder="password check"
            />
          </div>
          <div class="flex items-center justify-center">
            <input
              class="text-white bg-gradient-to-r from-cyan-500 to-blue-500 hover:bg-gradient-to-bl focus:ring-4 focus:outline-none focus:ring-cyan-300 dark:focus:ring-cyan-800 font-medium rounded-lg text-sm px-5 py-2.5 text-center mr-2 mb-2"
              type="submit"
              value="변경"
            />
          </div>
        </form>
      </div>
    </div>
    <script>
      function checkForm() {
        var updatePw = document.getElementById("updatePw").value;
        var updatePw = document.getElementById("updatePwC").value;
        var updatePwC = document.getElementById("updatePwC").value;

        if (updatePw != updatePwC) {
          alert("비밀번호와 비밀번호 확인이 일치하지 않습니다");
          return false;
        } else {
          return true;
        }
      }

      var sameName = "{{ sameName|escapejs }}";

      if (sameName == "sameName") {
        alert("이미 존재하는 닉네임입니다");
      }

      var noneData = "{{ noneData|escapejs }}";

      if (noneData == "noneData") {
        alert("입력된 내용이 없습니다");
      }
    </script>
  </body>
</html>
