/* 
Main content CSS area
Selected To list, Do list
 */
.mainContent {
  float: left;
  width: max-content;
  height: 600px;
  margin-left: 5%;
  margin-right: 7%;
}
.mainContent:after {
  content: "";
  margin-left: 10%;
  margin-right: -7.5%;
  margin-top: 10%;
  display: block;
  height: 450px;
  border-left: 2px dotted black;
}

.toLayer,
.doLayer {
  text-align: center;
}
.toLayer {
  margin-right: 3%;
}

#layerTitleTo,
#layerTitleDo {
  margin-bottom: 1.5%;
}
#layerTitleTo {
  text-align: right;
}
#layerTitleDo {
  text-align: left;
}

.sideContent {
  float: right;
  min-height: 600px;
  min-width: 200px;
  margin-right: 5%;
  text-align: center;
}

.sideContent #title {
  margin-top: 10%;
  margin-bottom: 10%;
  font-size: 52px;
  text-align: left;
}
.sideContent #slo {
  text-align: left;
  margin-bottom: 3%;
}

.accountInfo {
  text-align: left;
  margin-top: 40%;
  font-size: 24px;
}
.util {
  margin-top: 30%;
  text-align: left;
}
.settingAccount {
  margin-top: 35%;
}

.logoutButton {
  margin-top: 20%;
}
